<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 offset-1">
      <h1 class="text-center">關於我...</h1>
      <div class="text-center">
        <div class="img">
          <!-- image -->
        </div>
        <div class="text">
          <h2><%= @user.slogan %></h2>
          <h3><%= @user.name %></h3>
          <h5><%= simple_format(@user.intro) %></h5>
        </div>
      </div>
      
    </div>
  </div>
</div>



