<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h2 class="text-center"><%= @post.title %></h2>
      <p class="text-muted text-right">
        <%= @post.created_at.strftime("%Y-%m-%d") %> 
      </p>
      <p><%= simple_format(@post.content) %></p>
    </div>
  </div>
</div>
